.Navbar{
    background: rgb(75, 75, 255);
    position: relative;
    width: 100%;
    height: 2em;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.Nav-LeftItems {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 4%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.Nav-RightItems {
    position: absolute;
    height: 100%;
    width: 30%;

    right: 4%;
    display: flex;
    justify-content: right;
    align-items: center;

    
}
.Nav-link {
    background-color: blue;

    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 2rem;

}
.Nav-link:hover{
    background-color: skyblue;
    cursor: pointer;
}

