.OpSelector{
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.OpSelectorHead{
    background-color: rgb(58, 55, 55);
    width: 100%;
    height: 100px;
    position: relative;
    font-size: 5em;
}
.OpSelectorHead>.Title{
    width: 40%;
    height: 60%;
    margin-right: 10%;
    position: absolute; 
    top: 20%;
    left: 0; 

    font-size: 0.7em;
    font-weight: bold;
    color: rgb(3, 3, 45);

    display: flex;
    align-items: center;
    justify-content: center;
}
.OpSelectorHead>.Tools{
    width: 50%;
    height: 60%;
    position: absolute;
    top: 20%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

.AddButton{
    height: 100%;

}

.Tools>input{
    height: 50%;
    /* width: 18em; */
    width: 50%;
    margin-left: 10%;
    font-size: 0.3em;
    font-family: monospace;
    text-align: center;
}

.Tools>img{
    height: 100%;
    aspect-ratio: 1;
}